---
const target = "/case-studies/eo-application-rebuild/";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0; url=${target}`} />
    <link rel="canonical" href={target} />
    <title>Redirecting...</title>
  </head>
  <body>
    <a href={target}>Redirecting to the E&O case study.</a>
  </body>
</html>
